body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 23px;
    background-image: url("wii.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 2em;
}

header {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
    padding: 0 10px; /* Espaciado lateral */
  }
  
  header nav a {
    font-size: 1.2rem;
    color: #ffd700; /* Amarillo dorado */
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  header nav a:hover {
    color: #ffffff; /* Cambia a blanco al pasar el mouse */
  }
  
  @media (max-width: 768px) {
    header nav {
      gap: 15px; /* Reduce el espacio entre enlaces */
    }
  
    header nav a {
      font-size: 1rem; /* Reduce el tamaño de fuente */
    }
  }
  
  @media (max-width: 480px) {
    header nav {
      gap: 10px; /* Reduce aún más el espacio entre enlaces */
    }
  
    header nav a {
      font-size: 0.9rem; /* Reduce aún más el tamaño de fuente */
    }
  }
  
